{% extends "base.html" %}

{% block content %}
    <div class="secondary_pages">
    <h1> COMING SOON...</h1>
    
        <p>"Quack quack quack. Books for Ducks has a quacktastic collection of books!" <cite> - guybrush</cite></p>
        <p>"I can't wait to show my family my favourite books coolection"<cite> - The Queen </cite></p>
        <p>"This site sparks joy<cite> - Marie kondo</cite></p>
        <p>Srumptious and ambitious. Book listing site of the century</cite> - The Times</p>
{% endblock %}