{% extends "base.html" %}

{% block content %}
    <div class="secondary_pages">
    <h2> Book News!</h2>
        <h3>Here's what's cooking this week in the world of words...</h3>
            <img id="img" src="https://m.media-amazon.com/images/P/B09N27F8LX.01._SCLZZZZZZZ_SX500_.jpg" height="400px"></img><br>
            <a id="link" href="https://www.youtube.com/watch?v=AnjylO55h-Q"> Bradon Sanderson's "The Lost Metal" is out now!! - Click here to watch the full video</a>
    </div>
{% endblock %}
    